#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Add these dark mode styles */
:root {
  --background: #ffffff;
  --bg-dark-card: #212121;
  --bg-dark-card-hover: #2E2E2E;
  --border-dark-card: #374151; 
  --text: #000000;
  --primary-color: #1a73e8;
  --secondary-color: #e8f0fe;
  --accent-color: #ff4081;
  --font-family: 'Inter', sans-serif;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}

.dark {
  --background:  #1E1E1E;
  --text: #e0e0e0;
}

body {
  background-color: var(--background);
  color: var(--text);
}
